<!-- Using grid, which is only in beta. -->
<!-- <div id="appView"
  gdAreas="bin pathview | bin status"
  gdGap="0px"
  gdRows="80% 20%"
  gdColumns="20% 80%">

  <div id="deviceBin" gdArea="bin">Device Bin</div>
  <div id="pathView" gdArea="pathview">Path View</div>
  <div id="status" gdArea="status" fxFlexFill>Status</div>
</div> -->
<!-- Using flex layout -->
<!-- <div id="appView" fxLayout="row">
  <div id="deviceBin" fxFlex="20%">
    Device Bin
    <div class="draggableEdge" id="rightEdge"
      (mousedown)="dragged=true" (mouseup)="dragged=false" (mousemove)="mouseMove($event)" (drag)="drag($event)"></div>
  </div>
  <div fxLayout="column" fxFlex="80%">
    <svg id="pathView" fxFlex="80%">
        <desc>Red rectangle shape</desc>
        <rect x="10" y="10" width="100" height="100" fill="#c00"  />
    </svg>
    <div id="status" fxFlex="20%">Status</div>
  </div>
</div> -->
<!-- Using angular-split -->
<as-split id="appView" direction="horizontal" gutterSize="6">
  <as-split-area id="deviceBin" size="20">
    <ul>
        <li draggable="true" (dragstart)="startDrag($event)">item 1</li>
        <li draggable="true" (dragstart)="startDrag($event)">item 2</li>
        <li draggable="true" (dragstart)="startDrag($event)">item 3</li>
    </ul>
  </as-split-area>
  <as-split-area size="80">
    <as-split id="statusSplit" direction="vertical" gutterSize="6">
      <as-split-area id="pathView"size="80">
        <app-workspace-view></app-workspace-view>
      </as-split-area>
      <as-split-area id="status" size="20">Status</as-split-area>
    </as-split>
  </as-split-area>
</as-split>
<router-outlet></router-outlet>
